@model IList<SoftwareTechnology.Models.MultipleClassJoin>

<html>
<head>

</head>
<body>
    
    <h1>Appointment List of @ViewBag.VcName </h1>
    
    
    <div class="container row p-0 m-0">
        
        <div class="col-12 border p-3">
            <table class="table table-striped table-bordered" style="width:100%" id="DT_load">

                <thead>
                    <tr>
                        <th>Citizen AMKA</th>
                        <th>Citizen Name</th>
                        <th>Citizen Surname</th>
                        <th>Appointment Date</th>
                        <th>Appointment Time</th>



                    </tr>
                </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.citizen.AMKA</td>
                            <td>@item.citizen.Name</td>
                            <td>@item.citizen.Surname</td>
                            <td>@item.appointment.Date.ToString("yyyy/MM/dd")</td>
                            <td>@item.appointment.Time</td>



                        </tr>
                    }
                
            </table>
        </div>
    </div>






</body>
</html>

@section Scripts {
    <script src="~/js/DataTable.js"></script>
}

